@import url("https://use.typekit.net/bza5quc.css");

a {
  /*border: solid;*/
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(26, 26, 26);
  transition-duration: 0.45s;
}
#HomeLink {
  color: white;
  text-decoration: none;
  transition: 0.45s;
}
#HomeLink:hover {
  color: rgb(26, 26, 26);
  transition: 0.45s;
}
.App {
  height: 100vh;
  /*background-image: url("./August 23, 2020---14 mm---0.6 sec at f - 9.0---.JPG");*/
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#shadow {
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0.02;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#galleryLink {
  padding: 15px;
}

#centeredHero {
  position: relative;
  /* or absolute */
  z-index: 98;
  top: 30vh;
  left: 0;
  bottom: auto;
  right: auto;
  font-family: futura-pt;
  font-style: bold;
  font-weight: 600;
  font-size: calc(60px + 2vmin);
}
#buttonStyle {
  background-color: rgba(255, 255, 255, 0);
  border: solid;
  border-color: white;
  font-family: futura-pt;
  color: white;
  font-size: calc(8px + 2vmin);
  padding-left: 22.5px;
  padding-right: 22.5px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration: 0.45s;
}
#buttonStyle:hover {
  color: rgb(26, 26, 26);
  border-color: rgb(26, 26, 26);
  transition-duration: 0.45s;
}
#fontColoring {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}
#header-no-border {
  position: relative;
  z-index: 99;
  padding-top: 1.75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sub-heading {
  align-items: center;
  justify-content: top;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: calc(6px + 2vmin);
  color: rgba(255, 255, 255, 0.65);
}

#footer {
  position: absolute;
  width: 100vw;
  padding-bottom: 3.75%;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: bottom;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc(10px + 2vmin);
  color: white;
}
