@import url("https://use.typekit.net/bza5quc.css");
.parent {
  display: flex;
  width: 95vw;
  height: 95vh;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: top;
}
#pano {
  width: 50vw;
}
.storyText {
  margin-top: 5%;
  color: rgb(87, 87, 87);
  font-family: futura-pt, sans-serif;
  font-size: calc(2vmin);
  margin-left: 20%;
  margin-right: 20%;
}
#buttonRow {
  margin-top: 50px;
}
.active {
  color: rgba(0, 0, 0, 0.5);
}
.FilteringButtons {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-size: calc(20px + 2vmin);
  transition: 0.45s;
}
.FilteringButtons:hover {
  color: rgba(0, 0, 0, 0.5);
}
.box {
  padding: 0.5rem;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-size: 16pt;
  margin: 2.5vw;
  width: 40vw;
  height: 25vw;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  text-align: center;
}
.bottomText {
  color: rgba(0, 0, 0, 0.95);
  font-weight: 600;
  padding: 0.5rem;
  margin: 2.5vw;
}
.subTitle {
  max-width: 50vw;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  padding: 0.5rem;
  margin: 2.5vw;
  margin-top: -3.5vw;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.box:hover {
  transition: 0.5s;
  opacity: 65%;
}
@media only screen and (max-width: 600px) {
  #pano {
    width: 80vw;
  }
  #panoText {
    max-width: 83vw;
  }
  .parent {
    flex-direction: column;
    place-items: center;
  }
  .box {
    width: 65vw;
    height: 40vw;
  }
  .subTitle {
    max-width: 65vw;
  }
  .storyText {
    margin-top: 5%;
    color: rgb(87, 87, 87);
    font-family: futura-pt, sans-serif;
    font-size: calc(3vmin);
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}
